{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="container container-plus">
            {% if articles %}
                <div class="row">
                {% for art in articles %}
                    <div class="col-md-3">
                        <article>
                            <header>
                                <h2><a href="{% url 'Blog:article_detail' art.id %}">{{ art.title }}</a></h2>
                            </header>
                            <section>
                                created: {{ art.pub_date }}<br>
                                modified: {{ art.modified }}<br>
                                <br>
                            </section>
                            <section class="text-justify">
                                <p>{{ art.text|slice:":300" }}...</p>
                            </section>
                            <section>
                                Category: <a href="{% url 'Blog:articles_by_cat' art.category_id %}">{{ art.category }}</a>
                            </section>
                            <section>
                                Tags: {% for tag in art.tags.all %}
                                        {{ tag.name }}{% if forloop.first %},
                                        {% elif not forloop.last %},
                                        {% endif %}
                                      {% endfor %}
                            </section>
                        </article>
                    </div>
                {% endfor %}
                </div>
            {% else %}
                Sorry, but I doesn't have articles yet :(
            {% endif %}
    </div>
{% endblock %}